<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" INFO="true">

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d [%t] %-5p: %c - %m%n
			</Pattern>
		</layout>
	</appender>

<!-- 	<include file="${mobShop.log.conf.file.path}" />
 -->	
 
 <include file="/home/mobShop/conf/mobShop_logging_conf.xml" />
	

</configuration>