<div ng-controller="offlineCtrl">
	<div class="container" style="margin-top:15px;">
		<ol class="breadcrumb">
			<li><a href="#/offline">Home</a></li>
			<li class="active">Archives</li>
		</ol>
		<div class="main">
			<div class="main" style="background-color:#f8f8f8;">
				<h3>Archives</h3>
				<hr/>
				<table st-table="displayedCollection" class="table table-bordered">
					<thead>
						<tr>
							<th st-ratio="25" st-sort="offline">Offline Comission</th>
							<th st-ratio="25" st-sort="scheme">Navratna Scheme Tgt/Ach</th>
							<th st-ratio="25" st-sort="details">Navratna Scheme Details</th>
							<th st-ratio="25" st-sort="base" ng-show="admin">Navratna base</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td st-ratio="25" style="max-width: 95px;word-wrap: break-word;">
								<table class="table table-striped">
									<tbody>
										<tr ng-repeat="data in offlineList" class="excel-record">
											<td ng-click="download(data.fileId,3,data.fileName)" style="max-width: 95px;cursor:pointer; border: 0px;">{{data.fileName}} - {{data.createdDate}}</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td st-ratio="25" style="max-width: 95px;word-wrap: break-word;">
								<table class="table table-striped">
									<tbody>
										<tr ng-repeat="data in schemeTargetList" class="excel-record">
											<td ng-click="download(data.fileId,1,data.fileName)" style="max-width: 95px;cursor:pointer; border: 0px;">{{data.fileName}} - {{data.createdDate}}</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td st-ratio="25" style="max-width: 95px;word-wrap: break-word;">
								<table class="table table-striped">
									<tbody>
										<tr ng-repeat="scheme in schemeList" class="excel-record">
											<td ng-click="download(scheme.fileId,2,scheme.fileName)" style="max-width: 95px;cursor:pointer; border: 0px;">{{scheme.fileName}} - {{scheme.createdDate}}</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td st-ratio="25" ng-click="projectClickHandler(row)" style="max-width: 95px;word-wrap: break-word;" ng-show="admin">
								<table class="table table-striped">
									<tbody>
										<tr ng-repeat="navratnaData in navratnaList" class="excel-record">
											<td ng-click="download(navratnaData.fileId,4,navratnaData.fileName)" style="max-width: 95px;cursor:pointer; border: 0px;">{{navratnaData.fileName}} - {{navratnaData.createdDate}}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /container -->
	</div>